#!/bin/bash

SSH_HOST=LOCALHOST@backup.nailgun.name
BACKUP_DIR=/backup

echo '--------------[  Backup started  ]---------------'

umask 077
set -e

function cleanup() {
    rm -rf $BACKUP_DIR/.temp
}

trap cleanup EXIT

HERE="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
export PASSPHRASE="$(cat $HERE/passphrase)"

(
    echo -e '\n-----[ sql ...'

    mkdir -p $BACKUP_DIR/.temp/sql
    mysqldump --defaults-file=$HERE/my.cnf --all-databases > $BACKUP_DIR/.temp/sql/mysql.sql
    sqlite3 /somedb.db .dump > $BACKUP_DIR/.temp/sql/somedb.sql

    duplicity --full-if-older-than 1W $BACKUP_DIR/.temp/sql file://$BACKUP_DIR/sql
    duplicity remove-older-than 1M file://$BACKUP_DIR/sql

    rm -rf $BACKUP_DIR/.temp/sql
) || true

(
    echo -e '\n-----[ files ...'
    duplicity --full-if-older-than 1W /files "file://$BACKUP_DIR/files"
    duplicity remove-older-than 1M "file://$BACKUP_DIR/files"
) || true

cleanup

echo -e '\n-----[ rsync ...'
rsync -rltD --delete $BACKUP_DIR $SSH_HOST:~
