#!/bin/bash

SSH_HOST=LOCALHOST@backup.nailgun.name

echo '--------------[  Backup started  ]---------------'

umask 077
set -e

function cleanup() {
    if [ -e /backup/.temp ]; then
        rm -rf /backup/.temp
    fi
}

trap cleanup EXIT

HERE="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
scp $SSH_HOST:/backup/.passphrase $HERE/passphrase || true
export PASSPHRASE="$(cat $HERE/passphrase)"

mkdir -p /backup/.temp/sql
mysqldump --defaults-file=$HERE/my.cnf --all-databases > /backup/.temp/sql/mysql.sql
sqlite3 /somedb.db .dump > /backup/.temp/sql/seorank.sql
duplicity --full-if-older-than 1W /backup/.temp/sql file:///backup/sql
rm -rf /backup/.temp
duplicity remove-older-than 1M file:///backup/sql

echo 'Running rsync ...'
rsync -avz --delete /backup $SSH_HOST:~
